<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tegelsten.helpapp101" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kategorier"
            android:label="kategorier" >
        </activity>
        <activity
            android:name=".datorkomponenter"
            android:label="datorkomponenter" >
        </activity>
        <activity
            android:name=".mobil"
            android:label="mobil">
        </activity>
        <activity
            android:name=".videos"
            android:label="videos" >
        </activity>
        <activity
            android:name=".IngetLjud"
            android:label="@string/title_activity_inget_ljud"></activity>
        <activity
            android:name=".MobilNasta"
            android:label="@string/title_activity_mobilnasta"></activity>
    </application>

</manifest>